<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Felipe Farias's personal Web Page</title>
  </head>

  <body>
    <div id="header">
      <a id="headerLink" href="https://felipefarias.xyz/">felipefarias.xyz</a>
      <span class="hidden"> - </span>
      <span id="headerSubtitle">Post installation with minimum bloat</span>
    </div>

    <!--Content-->
    <div id="content">
      <!--Main Content-->
      <div id="main">
        <a href="guides.html">Go Back...</a>
        <!--Insert Content Here-->
      </div>
    </div>
  </body>
</html>
